<div class="page-title">
  <span><label for="board">Board:</label> {{board.name}}</span>
  <span class="glyphicon glyphicon-plus margin cursor" ng-click="addList()"></span>
</div>

<div class="dragndrop">
  <div class="row">
    <ul dnd-list="listModels.lists">
      <li ng-repeat="list in listModels.lists"
          dnd-draggable="list"
          dnd-droppable-in=".lists"
          dnd-effect-allowed="move"
          dnd-moved="listModels.lists.splice($index, 1)" class="col-xs-12 col-md-3 col-lg-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <label class="panel-title">{{list.name}} </label>
            <span class="pull-right glyphicon glyphicon-trash margin cursor" ng-click="deleteList(list)"></span>
            <span class="pull-right glyphicon glyphicon-edit margin cursor" ng-click="editList(list)"></span>
            <span class="pull-right glyphicon glyphicon-sort margin cursor"></span>
            <span class="pull-right glyphicon glyphicon-plus margin cursor "></span>
          </div>
          <div class="panel-body">
            <ul dnd-list="category.items" class="items">
              <li ng-repeat="item in category.items"
                  dnd-draggable="item"
                  dnd-droppable-in=".items"
                  dnd-effect-allowed="move"
                  dnd-selected="listModels.selected = item"
                  dnd-moved="category.items.splice($index, 1)"
                  ng-class="{'selected': listModels.selected === item}">
                <span style="font-size:16px">{{ item.name }}</span>
                <span class="pull-right glyphicon glyphicon-trash margin"></span>
                <span class="pull-right glyphicon glyphicon-edit margin"></span>
                <span style="display: block;">{{item.description}}</span>
              </li>
            </ul>
          </div>
        </div>
    </ul>
  </div>
</div>

<script type="text/ng-template" id="createListModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Create New List</h3>
  </div>

  <div class="modal-body">
    <form name="form" role="form">
      <div ng-show="showError" class="alert alert-danger" role="alert">
        <strong>Error! </strong> {{error}}
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" ng-model="list.name" required>
      </div>

      <div class="form-group">
        <label>Description</label>
        <input type="text" name="description" class="form-control" ng-model="list.description" required>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button ng-disabled="!(form.name.$valid && form.description.$valid)" class="btn btn-primary" type="button" ng-click="ok(list)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="editListModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Update Board</h3>
  </div>

  <div class="modal-body">
    <form name="form" role="form">
      <div ng-show="showError" class="alert alert-danger" role="alert">
        <strong>Error! </strong> {{error}}
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" ng-model="list.name" required>
      </div>

      <div class="form-group">
        <label>Description</label>
        <input type="text" name="description" class="form-control" ng-model="list.description" required>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button ng-disabled="!(form.name.$valid && form.description.$valid)" class="btn btn-primary" type="button" ng-click="ok(list)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
